/* style table */
table{
    margin: 1rem;
    border: 1;
}

/* style dropdown options of assignment status */
.toDo{
background: gray;
}

.inProgress{
background: blue;
}

.done{
background: green;
}